<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <form action="/Index" method="post">

            <label for="name">Enter contact name:</label>
            <input type="text" name="name" id="name">

            <label for="phone">Enter contact phone:</label>
            <input type="text" name="phone" id="phone">

            <label for="street">Enter street:</label>
            <input type="text" name="street" id="street">

            <label for="city">Enter city:</label>
            <input type="text" name="city" id="city">

            <label for="state">Enter state:</label>
            <input type="text" name="state" id="state">

            <label for="notes">Enter other notes (optional):</label>
            <input type="text" name="notes" id="notes">

            <button type="submit" name="button">Create contact!</button>

        </form>

    </body>
</html>
